:root {
    --taskbar:#94A3B8;
    --gray-200:#e2e8f0;
    --gray-500: #64748b;
    --gray-600:#4b5563;
    --gray-700:#334155;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sprite {
    display: flex;
    align-items: flex-end;
    width: 40%;
    z-index: 1;
    flex-direction: row;
}


.bodyPopup {
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: var(--gray-200) ;
    top: 25%;
    width: 602px;
    height: 500px;
    border-radius: 8px;
    border: 1px solid #334155;
    overflow: hidde;
}

.circle{
    position:absolute;
    width: 600px;
    height: 600px;
    clip-path: circle(50% at 0%);
    transform: rotate(90deg);
    opacity: 80%;
    border-radius: 4px;
    z-index: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
    z-index: 1;
}

.header h2 {
    text-indent: 10px;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content:center;
    text-align: center;
    margin-left: 1vw;
    background-color: var(--gray-500);
    width: 250px;
    height: 200px;
    border: 1px solid var(--gray-200);
    border-radius: 8px;
    z-index: 1;
}

.details p {
    margin-bottom: 5%;
}

.flavor {
    position: absolute;
    bottom: 0;
    min-width: 600px;
    height: 130px;
    text-align: center;
    background-color: var(--gray-500);
    border: 1px solid var(--gray-200);
    border-radius: 8px;
    
}

.flavor p {
    margin-top: 5%;
}

/*--------types color circle------------*/
[type=grass]{
    background:var(--grass);
}

[type=normal]{
    background:var(--normal);
}

[type=fighting]{
    background: var(--fighting);
}

[type=flying]{
    background: var(--flying);
}

[type=poison]{
    background: var(--poison);
}

[type=ground]{
    background: var(--ground);
}

[type=rock]{
    background: var(--rock);
}

[type=bug]{
    background: var(--bug);
}

[type=ghost]{
    background: var(--ghost);
}

[type=steel]{
    background: var(--steel);
}

[type=fire]{
    background: var(--fire);
}

[type=water]{
    background: var(--water);
}

[type=electric]{
    background: var(--electric);
}

[type=psychic]{
    background: var(--psychic);
}

[type=ice]{
    background: var(--ice);
}

[type=dragon]{
    background: var(--dragon);
}

[type=dark]{
    background: var(--dark);
}

[type=fairy]{
    background: var(--fairy);
}